<div class="container">
    <div class="details">
        <div>
            <img class="img-dt" src="{{theMovie.image}}" alt="Movie Image">
        </div>
        <div>
            <a href="/movies">Go back</a>
            <p>
                <bold>{{theMovie.title}}</bold>
            </p>
            <p>{{theMovie.stars}}</p>
            <p>{{theMovie.director}}</p>
            <p>{{theMovie.description}}</p>
        </div>
    </div>
</div>